* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/farm3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: aquamarine;
}

#initialDiv,
#gameDiv,
#resultsDiv,
#submitBtn3 {
  display: none;
  padding: 10px;
}

.numbersForm {
  display: flex;
}

.numbersFormPart {
  margin: 10px;
}
