* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/farm3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: #d8f1a0;
}

.main {
  display: flex;
  height: 100vh;
}

.containers {
  width: 50%;
  height: 300px;
  margin: auto;
  background-color: #00a878;
}

#bubble {
  position: absolute;
  top: 20px;
  right: 0;
  width: 100px;
  height: 100px;
}

#initialDiv,
#gameDiv,
#resultsDiv,
#submitBtn3,
#bubble,
#winScreen {
  display: none;
  padding: 10px;
}

.numbersForm {
  display: flex;
}

.numbersFormPart {
  margin: 10px;
}
