* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/farm2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: #d8f1a0;
}

ul {
  list-style: none;
}

.main {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContainer {
  border-radius: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  background-color: #00a878;
  position: relative;
  border: 2px solid #230007;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  margin: auto;
  font-size: 35px;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 65px;
  color: #230007;
}

.btnsDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  text-align: center;
}

.btns {
  display: block;
  border: 2px solid #230007;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #f3c178;
  color: #230007;
  font-family: 'Pangolin', cursive;
  font-size: 25px;
  background-size: 200% auto;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to right, #f3c178 0%, #d8f1a0 50%, #f3c178 100%);
  transition: 0.5s;
  margin: 20px auto;
  width: 200px;
  cursor: pointer;
}

.btns:hover {
  background-position: right center;
}

#howToBtn {
  font-size: 20px;
  width: 180px;
  padding: 10px;
}

#instructions {
  font-family: 'Pangolin', cursive;
  letter-spacing: 0.5px;
  color: #230007;
}

.instructionsText {
  font-size: 20px;
  padding: 5px;
  color: #230007;
}

#cow {
  position: absolute;
  right: -150px;
  bottom: -100px;
  z-index: 99;
}

#cowImg {
  width: 250px;
}

#bubbleDiv {
  position: relative;
  right: 100px;
  width: 280px;
}

#bubble {
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#bubbleText {
  position: absolute;
  top: 70px;
  z-index: 9;
  width: 100%;
  padding: 0px 40px;
  text-align: center;
  color: #230007;
  font-size: 20px;
  font-family: 'Pangolin', cursive;
  opacity: 0.8;
}

#angryCow {
  position: absolute;
  bottom: -50%;
  left: -50%;
  -webkit-transform: scaleX(-1) rotate(5deg);
  transform: scaleX(-1) rotate(-10deg);
  z-index: 999;
}

.animatedCow {
  animation-name: pop;
  animation-duration: 4s;

  animation-fill-mode: forwards;
}

@keyframes pop {
  20% {
    bottom: -50px;
    left: -90px;
  }

  100% {
    bottom: -450px;
    left: -290px;
  }
}

#initialDiv,
#gameDiv,
#resultsDiv,
#submitBtn3,
#winScreen,
#instructions {
  display: none;
  padding: 10px;
}

.plusBtn {
  outline: none;
  border: none;
  background: none;
  color: #230007;
  font-family: 'Pangolin', cursive;
  font-size: 40px;
  cursor: pointer;
}

.numbers1 {
  text-align: center;
  font-family: 'Pangolin', cursive;
  font-size: 40px;
  color: #f3c178;
}

.numbersForm {
  display: flex;
}

.numbersFormPart {
  margin: 10px;
}
